@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&display=swap');

@font-face {
    font-family: "Rust";
    src: local("Rust"), url(../fonts/Rust.woff) format("woff");
}

@font-face {
    font-family: "icomoon";
    src: local("icomoont"), url(../fonts/icomoon.woff) format("woff");
}

nav{
    height: 5.5em;
}

ul {
    list-style-type: none;
}

html {
    background-color: var(--rust-black);
    height: 100%;
    font-size: 120%;
    --rust-black-opacity: #1E20209f;
    --rust-black: #1E2020;
    --rust-red: #CE422B;
    --rust-white: #F6EAE0;
}

p {
    margin-bottom: 0.5em;
    color: var(--rust-white);
    font-family: "Lato";
    font-size: 120%;
}

nav ul {

    height: 6em;
    margin: 0;
    padding: 1em;
    overflow: hidden;
}
  
.nav-text-field {
    transition: 300ms;
    font-size: 1.5rem;
    float: left;
    width: 6em;
}

.nav-text-field:hover{
    transition: 300ms;
    box-shadow: 0 0.3em 0.5em rgba(0, 0, 0, .1);
    background-color: var(--rust-red);
    color: var(--rust-white);
}

.nav-img-field {
    padding-top: 0;
    float: left;
}

.img {
    transition: 200ms;
    vertical-align: middle;
    display: inline-block;
    width: 3em;
}

.img:hover{
    transition: 200ms;
    width: 3.5em;
}

nav li a {
    font-family: "Rust", sans-serif;
    text-align: center;
    display: block;
    color: var(--rust-white);
    padding: 0.75rem 1rem;
    text-decoration: none;
}

.content-wrapper {
    max-width: 960px;
    margin: 0 auto;
}

.black {
    background-color: var(--rust-black);
}

.on-steam {
    display: block;
    width: 10em;
    font-size: 1.5rem;
    float: right;
}

.main-header {
    background-image: url(../images/bg.jpg);
    min-height: 100vh;
    background-position: top center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-header-news {
    background-image: url(../images/bgnews.jpg);
    min-height: 100vh;
    background-position: top center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-header-about {
    background-image: url(../images/bgabout.jpg);
    min-height: 100vh;
    background-position: top center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-header {
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    
    
}
.main-header header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 4em;
}

.header-image-field{
    margin-top: 10em;
    text-align: center;
    float: left;
    width: 50%;
}

.header-image-field img{
    box-shadow: 0 0.3em 0.5em rgba(0, 0, 0, 10);
    width: 80%;
}

.header-text-field{
    text-align: left;
    margin-top: 10em;
    float: left;
    width: 50%;
    font-size: 1em;
}

h1 {
    font-family: "Rust";
    color: var(--rust-white);
}

h2 {
    font-family: "Rust";
    text-align: center;
    font-size: 5em;
    color: var(--rust-white);
}

h3 {
    color: var(--rust-white);
    font-family: "Rust";
    font-weight: normal;
    font-size: 2em;
}

h4 {
    color: var(--rust-white);
    font-family: "Rust";
    font-weight: normal;
    font-size: 1.5em;
}

#h1 {
    background-color: var(--rust-black-opacity);
}

.news-header-field{
    text-align: center;
    width: 100%;
}

.news-header-field-txt{
    text-align: center;
    width: 100%;
    margin-top: 10em;
    float: left;
}

.news-header-field h1 {
    margin: 0;
    padding: 0;
    font-size: 8em;
}

.header-text-field h1{
    margin: 0;
    padding: 0;
    font-size: 8em;
}

.news-hero-p {
    margin-top: 0;
    text-align: center;
    margin-bottom: 2em;
}

.youtube-player{
    text-align: center;
    margin-bottom: 2em;
    margin-left: 10%;
    max-width: 80%;
}

@media screen and (max-width: 960px) {

    .header-image-field{
        width: 0%;
    }

    .header-text-field{
        width: 100%;
        text-align: center;
    }

    nav {
        height: 20em;
    }

    nav ul{
        height: 100%;
        text-align: center;
        list-style-type: none;
    }

    nav li{
        float: none;
        width: 100%;
        height: 5em;
        text-align: center;
    }

    nav li a{
        float: none;
        width: 100%;
        height: auto;
        padding: 0;
    }
    
    .on-steam {
        width: 100%;
        font-size: 1.5rem;
        float: none;
        height: auto;
    }

    .nav-text-field{
        float: none;
        width: 100%;
    }

    .nav-text-field{
        max-width: 100vw;
    }

    .header-text-field{
        margin-top: 5em;
    }

    .news-header-field h1 {
        font-size: 4em;
    }

    .news-header-field-txt{
        float: none;
    }

    .youtube-player {
        margin-left: 10vw;
        max-width: 80vw;
    }

    .text img {
        max-width: 90vw;
    }
}

footer {
    font-weight: bold;
    font-size: 80%;
    text-align: center;
}

footer p {
    padding: 2em;

}

.text a {
    color: var(--rust-white);
    text-decoration: none;
    transition: 300ms;
}

.text a:hover {
    transition: 300ms;
    color: var(--rust-red);
}

.text a::before{
    font-weight: normal;
    font-family: "icomoon";
    color: var(--rust-red);
    content: "\e9cb ";
}

.text img {
    text-align: center;
    width: 90%;
}