@font-face {
    font-family: "Rust";
    src: local("Rust"), url(../fonts/Rust.woff) format("woff");
}

nav{
    height: 5.5em;
}

html {
    height: 100%;
    font-size: 120%;
    --rust-black: #1E2020;
    --rust-red: #CE422B;
    --rust-white: #F6EAE0;
}

h1 {
    color: var(--rust-white);
    font-family: "Rust";
    font-weight: bold;
    font-size: 300%;
}

p {
    color: var(--rust-white);
}

nav ul {

    height: 6em;
    list-style-type: none;
    margin: 0;
    padding: 1em;
    overflow: hidden;
}
  
.nav-text-field {
    transition: 300ms;
    font-size: 1.5rem;
    float: left;
    width: 6em;
}

.nav-text-field:hover{
    transition: 300ms;
    box-shadow: 0 0.3em 0.5em rgba(0, 0, 0, .1);
    background-color: var(--rust-red);
    color: var(--rust-white);
}

.nav-img-field {
    padding-top: 0;
    float: left;
}

.img {
    transition: 200ms;
    vertical-align: middle;
    display: inline-block;
    width: 3em;
}

.img:hover{
    transition: 200ms;
    width: 3.5em;
}

nav li a {
    font-family: "Rust", sans-serif;
    text-align: center;
    display: block;
    color: var(--rust-white);
    padding: 0.75rem 1rem;
    text-decoration: none;
}

.content-wrapper {
    max-width: 960px;
    margin: 0 auto;
}

.black {
    background-color: var(--rust-black);
}

.on-steam {
    display: block;
    width: 10em;
    font-size: 1.5rem;
    float: right;
}

.main-header {
    height: 100%;
    background-image: url(../images/bg.jpg);
    min-height: 100vh;
    background-position: top center;
    background-attachment: fixed;
}

.main-header-news {
    background-image: url(../images/bgnews.jpg);
    min-height: 100vh;
    background-position: top center;
    background-attachment: fixed;
}

.main-header-about {
    background-image: url(../images/bgabout.jpg);
    min-height: 100vh;
    background-position: top center;
    background-attachment: fixed;
}

.header-field{
    height: 100%;
}

.header-image-field{
    text-align: center;
    float: left;
    width: 50%;
}

.header-image-field img{
    margin-top: 10em;
    box-shadow: 0 0.3em 0.5em rgba(0, 0, 0, .5);
    vertical-align: middle;
    width: 80%;
}

.header-text-field{
    text-align: left;
    margin-top: 10em;
    float: right;
    width: 50%;
}