@font-face {
    font-family: "Rust";
    src: local("Rust"), url(../fonts/Rust.woff) format("woff");
}

html {
    font-size: 120%;
    --rust-black: #1E2020;
    --rust-red: #CE422B;
    --rust-white: #F6EAE0;
}

nav ul {
    /* height: 64px; */
    list-style-type: none;
    margin: 0;
    padding: 1em;
    overflow: hidden;
}
  
.nav-text-field {
    font-size: 1.5rem;
    float: left;
    width: 6em;
}

.nav-text-field:hover{
    background-color: var(--rust-red);
    color: var(--rust-white);
}

.nav-img-field {
    font-size: 1.5rem;
    float: left;
    width: 6em;
}
  
nav li a {
    font-family: "Rust", sans-serif;
    /* margin: auto; */
    text-align: center;
    display: block;
    color: var(--rust-white);
    /* padding: 0.25em; */
    padding: 0.75rem 1rem;
    text-decoration: none;
    /* justify-content: center; */
}

.nav-img-field:hover {
    size: 120%;
}

.img {
    width: 2em;
    background-position: 50%;
    background-image: url(../images/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.img:hover {
    background-image: url(../images/logo.png);
}

/* nav img
{
    align-content: center;
    justify-content: center;
    max-height: 30px;
    width: auto;
    margin-top: -4px;
} */

.content-wrapper {
    max-width: 960px;
    margin: 0 auto;
}

.black {
    background-color: var(--rust-black);
}

.on-steam {
    width: 10em;
    font-size: 1.5rem;
    float: right;
}

.main-header {
    background-image: url(../images/bg.jpg);
    min-height: 100vh;
    background-position: top center;
    background-attachment: fixed;
}